node_modules
out
**/.DS_Store
src/.DS_Store
src/.DS_Store
src/app/.DS_Store
src/app/inapp/.DS_Store
src/app/src/.DS_Store
src/app/src/editor/.DS_Store
.DS_Store
.DS_Store
.DS_Store
buglist.txt
src/debug.log
/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/ScratchJr-Desktop.iml
/.idea/vcs.xml
